---
layout: default
title: About Me
section_id: about
skills:
  - title: Leadership
    percentage: 87
  - title: Gracious Behavior
    percentage: 95
  - title: Communication
    percentage: 83
  - title: Passion
    percentage: 82
  - title: Pragmatism
    percentage: 85
  - title: Vision
    percentage: 80
  - title: Business Knowledge
    percentage: 79
testimonials:
  - quote: Reprehenderit eos et non et ut eum reprehenderit quis sequi quia vel repellendus id. Velit quit blanditiis dolor quam error eos dolores sequi eaque rerum est. Velit quit blanditiis dolor quam error eos dolores sequi eaque rerum est.
    author: David White, Designer at Huglab
  - quote: Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat consectetuer sit amet magna adipiscing.
    author: David White, Designer at Huglab
  - quote: Reprehenderit eos et non et ut eum reprehenderit quis sequi quia vel repellendus id. Velit quit blanditiis dolor quam error eos dolores sequi eaque rerum est.
    author: David White, Designer at Huglab

---

<div class='full parallax' style='background-image: url(assets/images/main/about_me.jpg); color: #fff;'>
  <div class='row'>
    <div class='twelve columns'>
      {% include section-header.html title="About Me" color="#fff" tagline="Know something about me" class="big" %}
    </div>
  </div>
  <div class='four spacing'></div>
</div>

<div class='full'>
  <div class='row'>
    <div class='medium-6 columns'>
      <h3>Personal Statement</h3>
      <p align="justify">Graduate schools, fellowships, grants, and other competitive programs often require each applicant to submit a short essay about her history and goals. These essays are sometimes written in response to very specific questions; sometimes, they’re written in response to a generic prompt. In both cases, the good personal statement carefully balances its author’s history and aspirations.</p>
      <p align="justify">Unlike much academic writing, personal statements are not necessarily thesis-driven. They tend to offer instead a narrative of development or illustrate a match between applicant and program. This does not mean the statement should narrate the applicant’s resume. Applicants should ask instead how the statement can enhance a particular element of the resume. Each applicant should ask how she might tell a compelling story about how and why she was drawn to a particular field of study, program, or career path.</p>
    </div>
    <div class='medium-6 columns'>
      <h3>My Skills</h3>
      <div class='mod modBarGraph'>
        <ul class='bars'>
          {% for skill in page.skills %}
            <li>
              <h4 style=''>
                {{skill.title}}
                <strong>{{skill.percentage}}%</strong>
              </h4>
              <p class='highlighted' data-percent='{{skill.percentage}}'></p>
            </li>
          {% endfor %}
        </ul>
      </div>
    </div>
  </div>
</div>


<div class='full parallax' style='background: #f5f5f5'>
  <div class='row'>
    <div class='large-12 columns'>
      <p class='centered-text'>
        <i class='fa fa-quote-left' style='color: #F9CE06; font-size: 36px;'></i>
      </p>
    </div>
  </div>
  <div class='row'>
    <div class='large-12 columns'>
      {% include section-header.html title="What My Colleagues Say" %}
      <div class='spacing'></div>
    </div>
  </div>
  <div class='row'>
    <div class='large-12 columns'>
      <div class='mod modTestimonials'>
        <div class='row'>
          <div class='small-12 columns'>
            <div class='items centered-text'>
              {% for testimonial in page.testimonials %}
                <div class='item'>
                  <p class='quote'>"{{testimonial.quote}}"</p>
                  <p class='author'>- {{testimonial.author}}</p>
                  <div class='two spacing'></div>
                </div>
              {% endfor %}
            </div>
          </div>
          <div class='spacing'></div>
        </div>
      </div>
    </div>
  </div>
</div>
