<div id='footer'>
  <div class='three spacing'></div>
  <div class='row'>
    <div class='large-3 medium-3 columns'>
      <div class='spacing'></div>
      <h1>
        <a href='index.html'>
          <img alt="" src="{{site.url}}/assets/images/logo/code2bits_logo_140x140.png" />
        </a>
      </h1>
      <div class='spacing'></div>
      <div class='spacing'></div>
    </div>
    <div class='large-3 medium-3 columns'>
      <div class='spacing'></div>
      <div class='links'>
        <h4>My pages</h4>
        <ul>
          <li><a href="{{site.url}}/index.html">Home</a></li>
          <li><a href="{{site.url}}/cheatsheets">Cheatsheets</a></li>
          <li><a href="{{site.url}}/homebrew">Homebrew</a></li>
          <li><a href="{{site.url}}/guidelines">Software Guidelines</a></li>
          <li><a href="{{site.url}}/blog">My Personal Blog</a></li>
        </ul>
      </div>
      <div class='spacing'></div>
    </div>
    <div class='large-3 medium-3 columns'>
      <div class='spacing'></div>
      <div class='links'>
        <h4>Important Links</h4>
        <ul>
          <li><a href="https://www.thoughtworks.com/radar">ThoughtWorks Technology Radar</a></li>
        </ul>
      </div>
      <div class='spacing'></div>
    </div>
    <div class='large-3 medium-3 columns'>
      <div class='spacing'></div>
      <h4>Contact Me</h4>
      <ul>
        <li>Phone: On Request</li>
        <li>Emial: andre.mare@gmail.com</li>
        <li>Location: Centurion, South Africa</li>
      </ul>
      <div class='spacing'></div>
      <ul class='socials'>
        <li>
          <a href='https://www.facebook.com/code2bits'>
            <i class='fa fa-facebook'></i>
          </a>
        </li>
        <li>
          <a href='https://twitter.com/code2bits'>
            <i class='fa fa-twitter'></i>
          </a>
        </li>
        <li>
          <a href='https://github.com/Code2Bits'>
            <i class='fa fa-github'></i>
          </a>
        </li>
        <li>
          <a href='{{site.url}}/feed'>
            <i class='fa fa-rss'></i>
          </a>
        </li>
      </ul>
      <div class='spacing'></div>
    </div>
  </div>
  <div class='two spacing'></div>
</div>
<script src="{{ "/javascripts/jquery.countTo.js" | prepend: site.baseurl }}" type="text/javascript"></script>
<script src="{{ "/javascripts/jquery.appear.js" | prepend: site.baseurl }}" type="text/javascript"></script>
<script src="{{ "/javascripts/jquery.validate.js" | prepend: site.baseurl }}" type="text/javascript"></script>
<script src="{{ "/javascripts/jquery.sequence-min.js" | prepend: site.baseurl }}" type="text/javascript"></script>
<script src="{{ "/javascripts/jquery.easing.1.3.js" | prepend: site.baseurl }}" type="text/javascript"></script>
<script src="{{ "/javascripts/app.js" | prepend: site.baseurl }}" type="text/javascript"></script>
